$mobile: "screen and (max-width: 960px)";
$main-color: #0B4566;

header {
    background-color: #F2F5F7;
    border-bottom: 3px solid #DBE4E9;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tab {
    background-color: #FFFFFF;
    padding: 8px 12px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .tab__btn {
        margin-left: 50px;
        color: $main-color;

        span {
            cursor: pointer;
        }
    }
}
.logo {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.description {
    text-transform: uppercase;
}
main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: hidden;
    position: relative;

    @media #{$mobile} {
        flex-direction: column;
    }
}
.toolbar {
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    color: $main-color;
    transition: margin-right .5s;

    @media #{$mobile} {
        flex-direction: row;
    }
    .toolbar__other {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media #{$mobile} {
            flex-direction: row;
            justify-content: flex-end;
        }
    }
    .toolbar__item {
        cursor: pointer;
        text-align: center;
        padding: 10px 12px;
    }
    .toolbar__map {
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid #86A2B3;

        @media #{$mobile} {
            flex-direction: row;
        }
    }
    &.sidebar-active {
        @media screen and (min-width: 961px) {
           margin-right: max(15%, 200px); 
        }
    }
}
.sidebar {
    background-color: #F8F8F8;
    width: max(15%, 200px);
    border-left: 1px solid #E4EAEE;
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    transition: left .5s;

    &.active {
        left: calc(100% - max(15%, 200px));
    }
    @media #{$mobile} {
        bottom: 45px;
    }
    .sidebar__title {
        margin: 0;
        padding: 20px 15px;
        font-size: 1.3em;
        color: $main-color;
        display: flex;
        align-items: center;
    }
    .sidebar__section {
        padding: 10px;

        .section__title {
            margin: 0 0 15px 0;
            padding: 0;
            color: $main-color;
        }
    }
    .sidebar__title,
    .sidebar__section {
        border-bottom: 1px solid #E4EAEE;
        background-color: #FFFFFF;
    }
}
body {
    display: flex;
}
.map {
    flex-grow: 1;
}
.title {
    text-transform: uppercase;
    text-align: center;
    flex-grow: 1;
    font-weight: bold;
    color: $main-color;
}
.logo {
    color: $main-color;
    font-size: 1em;
}
.description {
    font-size: 0.8em;
    color: #93ACBB;
    font-weight: 500;
}