<header>
  <div class="tab">
    <div class="tab__content">
      <h1 class="logo">nlm</h1>
      <div class="description">Powered by DHI</div>
    </div>
    <div class="tab__btn">
      <span class="icon-arrow-bottom"></span>
    </div>
    
  </div>
  <div class="title">Mapa</div>
</header>
<main>
  <div id="map" class="map">
    <aside class="legends">
      <app-legend title="Legenda stref" [items]="zoneLegend"></app-legend>
      <app-legend title="Legenda przepływu" [items]="flowLegend"></app-legend>
    </aside>
  </div>
  <div class="toolbar" [class.sidebar-active]="sidebar">
    <div class="toolbar__map">
      <div class="toolbar__item">
        <span class="icon-location"></span>
      </div>
      <div class="toolbar__item" (click)="zoom(1)">
        <span class="icon-plus"></span>
      </div>
      <div class="toolbar__item" (click)="zoom(-1)">
        <span class="icon-minus"></span>
      </div>
    </div>
    <div class="toolbar__other">
      <div class="toolbar__item" (click)="showFlowmeter()" [class.active]="sidebar">
        <span class="icon-add"></span>
      </div>
    </div>
  </div>
  <app-flow-meter [sidebar]="sidebar" (closeEvent)="closeFlowmeter()"></app-flow-meter>
</main>