<header>
  <div class="tab">
    <div class="tab__content">
      <h1 class="logo">nlm</h1>
      <div class="description">Powered by DHI</div>
    </div>
    <div class="tab__btn">
      <span class="icon-arrow-bottom"></span>
    </div>
    
  </div>
  <div class="title">Mapa</div>
</header>
<main>
  <div id="map" class="map"></div>
  <div class="toolbar" [class.sidebar-active]="sidebar">
    <div class="toolbar__map">
      <div class="toolbar__item">
        <span class="icon-location"></span>
      </div>
      <div class="toolbar__item" (click)="zoom(1)">
        <span class="icon-plus"></span>
      </div>
      <div class="toolbar__item" (click)="zoom(-1)">
        <span class="icon-minus"></span>
      </div>
    </div>
    <div class="toolbar__other">
      <div class="toolbar__item" (click)="toggleSidebar()">
        <span class="icon-add"></span>
      </div>
    </div>
  </div>
  <aside class="sidebar" [class.active]="sidebar">
    <h2 class="sidebar__title"><span class="icon-arrow-left"></span>&nbsp;Przepływomierz</h2>
    <div class="sidebar__section">
      <h3 class="section__title">Instrukcja</h3>
      <span>Wypełnij dane i kliknij przycisk <span class="text-blue">dodaj punkt</span>. Następnie wybierz punkt na mapie i kliknij <span class="text-blue">zatwierdź</span></span>
    </div>
    <div class="sidebar__section">
      <h3 class="section__title">Dodaj przepływomierz</h3>
      <span>Form component here</span>
    </div>
  </aside>
</main>